<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/**/*.css" />
</head>
<body class="m-2 p-2 bg-dark text-light">
    <div>
        <div class="w-50 align-items-center text-center border-danger border p-4" style="margin: 0 auto;">
            @RenderBody()
        </div>
    </div>
</body>
</html>
