
@{
    ViewData["Title"] = "Index";
}


<h2>ТЕСТ</h2>
<div id="questionText" class="text-left mb-4"></div>
<div class="row text-left">
    <div class="col" id="questionAnswerVariants" ></div>
</div>
<div id="questionNavigation"></div>
